<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>NoteCraft | SignUp</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body data-theme="lofi">
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left mx-5">
          <h1 class="text-5xl font-bold">SignUp!</h1>
          <p class="py-6">
            Your ideas deserve better notes — start with Notecraft.
          </p>
        </div>
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
          <div class="card-body p-5">
            <fieldset class="fieldset">
              <label class="label text-black">Email</label>
              <input type="email" class="input" placeholder="Email" />
              <label class="label text-black">Password</label>
              <input type="password" class="input" placeholder="Password" />
              <label class="label text-black">Confirm Password</label>
              <input
                type="password"
                class="input"
                placeholder="Confirm Password"
              />
              <button class="btn btn-neutral mt-4 mb-2">SignUp</button>
              <div class="text-center">
                <a class="link link-hover">Login Instead?</a>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </body>
</html>
